/* styles.css */
/* Add your CSS styles here */

.greeting {
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.brand-logo-container {
    display: flex;
    background-color: white;
    padding: 0 16px;
    align-items: center;
    gap: 12px;
}

h3 {
    line-height: 0.9;
    margin: 0;
}

.styled-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px 10px;
    max-width: 400px;
    gap: 32px;
}

.secondary-button {
    cursor: pointer;
    width: fit-content;
    min-width: 100px;
    height: 44px;
    font-size: 16px;
    padding: 0 20px;
    margin: 0;
    border: none;
    border-radius: 100px;

    background-color: #fff;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 0px 5px 0px 0px #000;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.bill-box p {
    margin: 10px 0;
}



.wallet-balance {
    margin: 0 !important;
}

code {

    margin: 20px;
    width: 50%;
    color: white;
}

.apply-button {
    height: 32px;
    font-size: 14px;
    min-width: 0;
    width: fit-content;
}

.applied-offer {
    background-color: #ffdd8e;
    height: 32px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #000;
}

.scanner {
    cursor: pointer;
    width: fit-content;
    min-width: 100px;
    height: 44px;
    font-size: 16px;
    padding: 0 20px;
    margin: 0;
    border: none;
    border-radius: 100px;

    background-color: #ffdd8e;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 0px 5px 0px 0px #000;


}


.scanner-modal {
    aspect-ratio: 1;
    position: relative;
    padding: 10px !important;
    box-sizing: border-box;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    padding: 0;
    width: 100%;
}

.bounding-box {
    position: absolute;
    border: 1px dashed white;
    border-radius: 12px;
    height: 280px;
    width: 280px;
    z-index: 1;
}

.navbar {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.billing-navbar {
    background-color: white;
    gap: 10px;
    width: 100%;
    border-radius: 26px 26px 0 0;
    box-sizing: border-box;
    padding: 28px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}


.stack-h-fill {

    box-sizing: border-box;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    pointer-events: none;
}

.cute-message {
    background: rgba($color: #ffc7c7, $alpha: .8);
    color: rgb(173, 46, 46);
    font-weight: 500;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;

    border-radius: 12px;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    margin: 0 8px;
}

.bill-input {
    text-align: right;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0 12px;
    height: 44px;
    border: 2px solid #000;
    outline: none;
    background-color: #fff;
    border-radius: 8px;
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}


.horizontal-scroll-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
    padding-left: 12px;
    margin-bottom: 24px;
    border-radius: 28px;
    overflow-x: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none;
    /* WebKit (Chrome, Safari, etc.) */
}

*::-webkit-scrollbar {
    display: none;
}


.hero-card {
    width: 100%;
    aspect-ratio: 1/1.2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #000;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #fff;

    margin: 0;
    border-radius: 28px;
}

.wallet-balance {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}



.list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.list .wallet-balance {
    margin: 0;
}

.bill-box h1 {
    margin-bottom: 10px;
}

.bill-box {
    background-color: white;
    padding: 24px;
    border-style: solid;
    border-radius: 22px;
    box-sizing: border-box;
    border-width: 2px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

.offer-card {
    width: 100%;
    box-sizing: border-box;

}

.list-item {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;

}

.close-button {
    position: absolute;
    z-index: 2;
    margin: 10px;
    top: 0;
    right: 0;
}



.balance-card {
    background-color: #ffd37c;
    padding: 32px 80px;
    aspect-ratio: 1/1.25;
    gap: 40px;
    border: 2px solid #462B2F;
    border-radius: 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.balance-card p {
    text-align: center;
    font-weight: 500;
}

.balance-card h1 {
    text-align: center;
    margin: 0;
    font-size: 48px;
    color: #462B2F;
    font-weight: bold;
}



.hero-card .secondary-button {
    width: 100%;
    box-sizing: border-box;
}

.qr-code {
    // border: 2px solid #462B2F;
    opacity: 0.95;
    width: 100% !important;
    aspect-ratio: 1 !important;
    height: auto !important;
    border-radius: 12px;
    // background-color: #fff;
    // border-radius: 12px;
    // box-shadow: 1px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
