/* styles.css */
/* Add your CSS styles here */

.greeting {
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

* {
    box-sizing: border-box;
}


.brand-logo-container {
    display: flex;
    background-color: white;
    padding: 0 16px;
    align-items: center;
    gap: 12px;
}

h3 {
    line-height: 0.9;
    margin: 0;
}



.styled-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    gap: 60px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .styled-container {
        max-width: 420px;
    }
}

.secondary-button {
    cursor: pointer;
    width: fit-content;
    height: 44px;
    font-size: 16px;
    padding: 0 20px;
    margin: 0;
    border: none;
    border-radius: 100px;
    white-space: nowrap;
    background-color: #eee;
    color: black;
    font-weight: bold;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}





.wallet-balance {
    margin: 0 !important;
}

code {

    margin: 20px;
    width: 50%;
    color: white;
}

footer {
    display: flex;
    width: 100%;
    padding: 24px;
    justify-content: space-around;
}

.apply-button {
    height: 32px;
    font-size: 14px;
    min-width: 0;
    width: fit-content;
}

.offer-card {

    width: 100%;
    box-sizing: border-box;
    border: 1px dashed #ccc;
    border-bottom: none;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.applied-offer {
    background-color: #ffdd8e;
    height: 32px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #000;
}


.claim-box .scanner,
.bill-box .scanner {
    width: 100%;
}



.scanner {
    white-space: nowrap;
    cursor: pointer;
    width: fit-content;
    height: 44px;
    font-size: 16px;
    padding: 0 20px;
    margin: 0;
    border: none;
    border-radius: 100px;

    background-color: #ffdd8e;
    color: #000;
    font-weight: bold;


}


.scanner-modal {
    aspect-ratio: 1;
    position: relative;
    padding: 10px !important;
    box-sizing: border-box;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    padding: 0;
    width: 100%;
}

.bounding-box {
    position: absolute;
    border: 1px dashed white;
    border-radius: 12px;
    height: 280px;
    width: 280px;
    z-index: 1;
}

.navbar {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.billing-navbar {
    background-color: white;
    gap: 10px;
    width: 100%;
    border-radius: 26px 26px 0 0;
    box-sizing: border-box;
    padding: 28px;
    display: flex;

    justify-content: space-between;
    align-items: center;
}


.stack-h-fill {

    box-sizing: border-box;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    pointer-events: none;
}



input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
}

li {
    border-bottom: 1px solid #eee;
}

.claim-box {
    box-sizing: border-box;
    border-radius: 24px;
    width: 100%;
    margin: 0;
    // box-shadow: 0px 8px 24px 0 rgba($color: #000, $alpha: .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: fit-content;

}

.claim-box p {
    margin: 0;
}

.bill-input {
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding: 0 20px;
    height: 44px;
    border: 2px solid;
    outline: none;
    background-color: #fff;
    border-radius: 100px;
}




.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;

    /* adjust as needed */
}

.bill-input {
    width: 100%;
    text-align: right;
}

input::-webkit-input-placeholder {
    text-align: right;
}

input::-moz-placeholder {
    text-align: right;
}

input:-ms-input-placeholder {
    text-align: right;
}

input::placeholder {
    text-align: right;
}

label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.2s ease-out, transform 0.2s ease-out;
    pointer-events: none;
    /* this ensures that the label does not interfere with the input's click event */
}

label.active {
    left: 20px;
    transform: translateY(-50%);
}


//------


.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}



.horizontal-scroll-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
    padding-left: 12px;
    margin-bottom: 24px;
    border-radius: 28px;
    overflow-x: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none;
    /* WebKit (Chrome, Safari, etc.) */
}

*::-webkit-scrollbar {
    display: none;
}


.hero-card {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: fit-content;
    gap: 10px;
    flex-direction: column;
    // align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 22px;
    background-color: #fff;

    margin: 0;
}

.wallet-balance {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    margin: 10px 0 0 0;
}



.list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.list .wallet-balance {
    margin: 0;
}



.bill-box {
    background-color: white;
    gap: 12px;
    padding: 20px;
    border-radius: 22px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}

.list-item {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;

}

.close-button {
    position: absolute;
    z-index: 2;
    margin: 10px;
    top: 0;
    right: 0;
}


.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    /* Adjust this value for spacing between cards */

    width: 100%;
}





.applied-state {
    background-color: #000;
    color: #fff;

    /* You can change this to a different color to indicate an applied state */
}



.scanner:disabled {

    background-color: lightgray;
}

.balance-card {

    border: 1px dashed #ccc;
    border-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    border-radius: 22px 22px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invite-friends {
    border: 1px dashed #ccc;


    border-radius: 0 0 22px 22px;
}

.label {
    text-align: left;
    font-weight: 500;
    opacity: 0.6;
}

.balance-card h1 {
    text-align: center;
    margin: 0;
}

h1 {
    font-weight: normal;
}
